<div class="container mt-0">
    <h2 class="text-center m-4 text-light">{{ "Nuove Uscite" | translate }}</h2>
  
    <div id="filmCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner text-center">
          <div *ngFor="let group of groupedFilms; let i = index" [class.active]="i === 0" class="carousel-item">
            <div class="row row-cols-1 row-cols-md-3 g-2 justify-content-center">
              <div class="col" *ngFor="let film of group">
                <a [routerLink]="['/details', film.iDfilm]" class="mt-auto text-decoration-none">
                  
                    <img [src]="film.urlLocandina"
                    (error)="onImageError($event)"
                    style="width: 100%; height: 75vh; object-fit: fit; border-radius: 10px;"
                    class="d-block mx-auto img-fluid shadow-sm"
                    [alt]="film.titolo">
                </a>
                </div>
            </div>
          </div>
        </div>
      
        <button class="carousel-control-prev" type="button" data-bs-target="#filmCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#filmCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
      
  
    <h2 class="text-light text-center mt-3">{{ "News" | translate }}</h2>
  
    <div class="container mt-5 mb-3">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <ng-container *ngFor="let film of Films; trackBy: trackById">
  <app-card *ngIf="film.attivo"
            [film]="film" 
            [customDescription]="film.news || film.descrizione">
  </app-card>
</ng-container>

      </div>
    </div>
  </div>
  